{{#*inline "page"}}
    <h1>User page for {{ user.name }}</h1>
    <h2>Posts</h2>
    {{#each posts.data as |p|}}
      <p>
        <time datetime="{{ p.created_on }}">{{ p.created_on_short }}</time>
          &nbsp;<a href="/post/{{p.id}}">{{ p.title }}</a>
      </p>
    {{/each~}}
{{/inline}}
{{~> (parent)~}}